// Project fonts

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Book",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 400,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-BookItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 400,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Medium",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 600,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-MediumItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 600,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Bold",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 700,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-BoldItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 700,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Black",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 900,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-BlackItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 900,
//     style: italic
// )
@font-face
    font-family 'rr'
    font-display swap
    src url("../fonts/roboto-r.eot")
    src url("../fonts/roboto-r.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-r.woff2") format("woff2"), url("../fonts/roboto-r.woff") format("woff"), url("../fonts/roboto-r.ttf") format("truetype"), url("../fonts/roboto-r.svg#rr") format("svg")
    font-weight normal
    font-style normal

@font-face
    font-family 'rb'
    font-display swap
    src url("../fonts/roboto-b.eot")
    src url("../fonts/roboto-b.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-b.woff2") format("woff2"), url("../fonts/roboto-b.woff") format("woff"), url("../fonts/roboto-b.ttf") format("truetype"), url("../fonts/roboto-b.svg#rb") format("svg")
    font-weight normal
    font-style normal