$primary-black = #15161A
$primary-text = #202020
$primary-color = #E8861B
$white = #ffffff
$primary-red = #E3001A
$primary-bg = #F9E9DE

$rule-color = #08577C

// btn colors
$primary-btn-bg = #E8861B
$primary-btn-bg-hover = $white
$primary-btn-color = $white
$primary-btn-color-hover = #E8861B
$primary-btn-bg2 = #E8861B

$white_btn_bgc = $$primary-color
$white_btn_color = $white

$white_btn_bgc_hover = $white
// title colors
$primary-title-color = $primary-color


// intro colors
$intro-text-color =#ffffff
$intro-title-color = #ffffff
$intro-price-color1 = $intro-title-color
$intro-price-color2 = #EE3124

$intro_for_countries-title-color = $white
$intro_for_countries-text-color = $white
$primary-color_for_countries = #E89A12
$intro_for_countries-btn-bg = #EE3124

// sticker colors
$sticker-color = #ffffff
$sticker-red = #EE3124
$sticker-border = $sticker-red
$sticker-price-color = #fff
$sticker-title-color = #fff

// steps colors
$steps-title-color = $primary-color
$steps-text-color = $primary-black

// banner colors
$banner-bg = #FFECCE
$banner-color = #15161A

$banner-title = #E8861B
// facts colors
$facts-list-item-b = #111111

// timer2 colors
$timer2-curcle-base-border-color = #C4C4C4
$timer2-curcle-progress-border-color = $primary-color
$timer2-bg = #E8861B

// products colors
$products-text-color = #15161A
$products-wrap-bgcolor = #DC763C
$products-icon-title-color = #ffffff

// popup2
$popup2-red = #E0004D

// share
$share-bg-color = transparent

// facts2
$facts2_item_1_bg_color = #3395A9
$facts2_item_2_bg_color = #E0004D
$facts2_item_3_bg_color = #E8861B

$facts2_item_1_color = $white
$facts2_item_2_color = $white
$facts2_item_3_color = $white