$primary-black = #15161A
$primary-text = #202020
$primary-color = #8472B3
$primary-color2 = #8472B3
$white = #ffffff
$primary-red = #E0004D
$primary-bg = #F9E9DE

$rule-color = #08577C

// btn colors
$primary-btn-bg = #8472B3
$primary-btn-bg-hover = $white
$primary-btn-color = $white
$primary-btn-color-hover = #8472B3
$primary-btn-bg2 = $primary-color

$white_btn_bgc = #fff
$white_btn_color = $primary-black

$white_btn_bgc_hover = $white_btn_bgc

// title colors
$primary-title-color = #8472B3


// intro colors
$intro-date-color =#F2EFF8
$intro-text-color = $intro-date-color
$intro-title-color = #fff
$intro-price-color1 = $intro-title-color
$intro-price-color2 = #EE3124
$intro-bg = $primary-color
$intro-more-color = $intro-date-color

$intro_for_countries-title-color = $white
$intro_for_countries-text-color = $white
$primary-color_for_countries = #EE9C1F
$intro_for_countries-btn-bg = #EE3124

// sticker colors
$sticker-color = #ffffff
$sticker-red = #EE3124
$sticker-border = $sticker-red
$sticker-title-color = #fff
$sticker-price-color = #fff

// steps colors
$steps-title-color = $primary-color
$steps-text-color = $primary-black


// banner colors
$banner-bg = #F2EFF8
$banner-color = #15161A

$banner-title = $primary-title-color
// facts colors
$facts-list-item-b = #111111

// timer2 colors
$timer2-curcle-base-border-color = #C4C4C4
$timer2-curcle-progress-border-color = $primary-color
$timer2-bg = $primary-color2

// products colors
$products-text-color = #15161A
$products-wrap-bgcolor = #DC763C
$products-icon-title-color = #ffffff

// popup2
$popup2-red = #E0004D

// share
$share-bg-color = #F2EFF8

// facts2
$facts2_item_1_bg_color = #8472B3
$facts2_item_2_bg_color = #E0004D
$facts2_item_3_bg_color = #654EA0

$facts2_item_1_fill = $white
$facts2_item_2_fill = $white
$facts2_item_3_fill = $white

$facts2_item_1_color = $white
$facts2_item_2_color = $white
$facts2_item_3_color = white

// corner

$corner-border-color = #fff