.section--intro
	padding-bottom 0

	.more-link
		color $white
		font-weight 400
		margin-left (20/12em)

		+md-block()
			margin-left (40/18em)
		
		+lg-block()
			margin-left (50/18em)

.intro
	position relative	
	color $white
	background-color $primary-color_for_countries
	padding-bottom (74/16em)

	+md-block()
		padding-bottom (90/16em)		

	+lg-block()
		background-image url(../img/content/intro/intro-bg2-lg.jpg)
		overflow hidden
		background-size cover
		background-position 50% 0
		padding-bottom 0

	&__inner
		
		+md-block()
			max-width (494/16em)
		
		+lg-block()
			max-width none
	
	&--corner

		+md-block()
			margin-bottom (50/48em)
		
		+lg-block()
			margin-bottom (62/70em)

		&:before
			top (5/16em)
			right (20/16em)
		
			+md-block()
				top 0
			
			+lg-block()
				top 0
				right 0
		
		&:after
			+md-block()
				bottom -4em

	&__red
		font-size (12/16em)
		font-weight 700
		color #fff
		line-height 2em
		background #EE3124
		display inline-block
		text-transform uppercase
		padding-left 0.5em
		padding-right 0.5em
		margin-left (20/12em)
		margin-bottom (15/12em)

		+md-block()
			font-size 1em
			margin-left 2em
			padding-left (12/16em)
			padding-right (12/16em)
		
		+lg-block()
			font-size (24/16em)
			margin-bottom (40/24em)
			padding-left (30/24em)
			padding-right (30/24em)

	&__content
		font-weight bold
		text-transform uppercase
		padding (30/16em) (20/16em) (20/16em)
		position relative
		z-index 2		
		
		+md-block()
			width 100%
			padding (60/16em) (40/16em) 0 (102/16em) 

		+lg-block()
			min-height (900/16em)
			text-align left
			padding (147/16em) (348/16em) (0/16em) (894/16em)

	&__data
		font-size (12/32em)
		font-weight 700
		line-height 1.2
		margin-bottom 0
		color $white
		text-transform uppercase
		text-align left
		margin-bottom (10/12em)
			
		+md-block()
			font-size (14/48em)
			margin-bottom (11/14em)			

		+lg-block()
			font-size (20/70em)
			margin-bottom (14/20em)

	&__title
		font-size (30/32em)
		line-height 1
		color $intro_for_countries-title-color
		margin-bottom (5/30em)
		font-weight 900
		text-transform uppercase

		+md-block()
			font-size 1em
			margin-bottom (2/48em)
			text-align left

			&--part-two
				font-weight 700
				font-size (20/16em)
				line-height (24/20em)

		+lg-block()
			font-size 1em
			margin-bottom (27/70em)
			line-height 1

			&--part-two
				font-weight 700
				font-size (27/16em)
				line-height (33/27em)
				margin-bottom (6/27em)

	&__text
		font-size em(18)
		line-height 1
		margin-bottom (34/18em)
		font-weight 900
		color $intro_for_countries-text-color

		+md-block()
			font-size em(20)
			margin-bottom (36/20em)
			max-width (286/20em)
			margin-right auto
			margin-left 0

		+lg-block()
			font-size em(28)
			line-height 1.3
		
		p
			margin-bottom 0

		&-green
			color $intro_for_countries-color

	&__btnn
		margin (11/12em) 0 (16/12em) (20/12em)
		background-color $white
		color $primary-black
		align-self flex-start
		text-transform none
		min-width (155/12em)

		.btnn-primary__arrow path
			fill $primary-black

		&:hover
		&:focus
			background-color transparent
			color $white
			border-color $white

			.btnn-primary__arrow path
				fill $white

		+md-block()
			margin (27/18em) 0 (28/18em) (40/18em)
			min-width (228/18em)
		
		+lg-block()
			margin-bottom (38/18em)
			margin-left (50/18em)

	&__sticker
		position absolute
		z-index 3
		bottom 4.875em
		left (20/16em)

		+md-block()
			left unset 
			right (74/16em)
			bottom 32.5em
			transform none
		
		+lg-block()
			bottom (128/16em)
			right (970/16em)

	&__links
		position relative
		z-index 11
		bottom: -0.875em

		+md-block()
			bottom: 0

	&--red
		color #EE3124
		font-size (40/48em)
	
	&--big
		font-size (40/30em)

		+md-block()
			font-size (48/40em)
	
	&--big2
		
		+lg-block()
			font-size (46/70em)
			margin-left (10/46em)

.intro-gift
	
	+lg-block()
		position absolute
		margin-bottom auto
		width (660/16em)
		height (314/16em)
		top (390/16em)
		left (150/16em)
		margin 0

		&:before
			background-image url(../img/content/intro/intro-arr.svg)
			width (240/16em)
			height (70/16em)
			z-index 9
			top (172/16em)
			left -(240/16em)
		
		&--lang
			width (1132/16em)
			height (493/16em)
			left (880/16em)
			top (290/16em)

	&__svg		
		
		+lg-block()
			width (660/16em)
			height (314/16em)
			position relative
			z-index 1

			&--lang
				width (1132/16em)
				height (493/16em)
	
	&__title
		font-weight 900
		font-size (50/16em)
		color #EE3124
		line-height 1

		+md-block()
			font-size (70/16em)
			margin-bottom (25/70em)
		
	&__text
		
		+lg-block()
			font-size (63/16em)
			position absolute
			font-weight 900
			color #EE3124
			transform rotate(12deg)
			line-height 1

	&__present
		
		+lg-block()
			top (-14/63em)
			right (42/62em)
			line-height 1
			z-index 10

			&--lang
				top (170/63em)
				right (212/63em)
	
	&__valute

		+lg-block()
			z-index 11
			bottom (-40/63em)
			right (160/63em)

.intro
	&__bg-hands
		
		+lg-block()
			position absolute
			z-index 9
			top 0
			left 0
			width 100%
			height 100%
			background-image url(../img/content/intro/intro-hands-lg.png)
			background-size cover
			background-repeat no-repeat
			background-position center 0

.bonus
	width (210/16em)
	height (210/16em)
	position relative
	border-radius 100%
	background-color #EE3124
	z-index 10
	margin (10/16em) 0 0 (38/16em)

	+md-block()
		width (184/16em)
		height (184/16em)
		position absolute
		right (68/16em)
		bottom (93/16em)
		margin 0

	+lg-block()
		transform scale(1.4)
		left auto
		top (517/16em)
		right (112/16em)
	
	&__img
		position absolute
		width (160/16em)
		top (47/16em)
		left (60/16em)

		+lg-block()
			top (36/16em)
			left (44/16em)

	&__text
		font-size (25/16em)
		text-transform uppercase
		position absolute
		transform rotate(2deg)
		top (7/25em)
		left (96/25em)
		font-weight 900

		+md-block()
			font-size (22/16em)
			top (5/22em)
			left (84/22em)
			

		b
			height (50/13em)
			position: absolute
			width: 0.75em
			left: 55%
			top: 55%
			transform-origin: bottom center

			+md-block()
				width: 1em

		.char-1
			transform: rotate(-80deg)
		.char-2
			transform: rotate(-65deg)
		.char-3
			transform: rotate(-48deg)
		.char-4
			transform: rotate(-33deg)
		.char-5
			transform: rotate(-20deg)
		.char-plus
			left (-74/25em)
			top (84/25em)
			
			svg
				width (13/25em)

				+md-block()				
					transform-origin center
					transform rotate(11deg)

.intro-gift
	&--lang
		// 

	&__present
		&--lang
			transform rotate(10deg)
	
	&__svg
		&--lang
			// 

.intro__title--nowrap
	white-space nowrap

.intro__content--lang

	+lg-block()		
		padding-left 57.7em
		padding-right 20em

.intro-gift--lang

	+lg-block()		
		top (307/16em)
		left (13/16em)

.intro-gift__present--lang

	+lg-block()		
		top (181/63em)
		right (325/63em)

.intro-gift__title
	display none