include intro-temp

+intro({
	date:`
	с&nbsp;7&nbsp;по&nbsp;20&nbsp;февраля
	`,
	title:`
	дарим за<br />регистрацию<br />и первую<br />покупку
	`,
	desc:`
	Парфюмерный набор<br />Elessar
	`,
})

//- //am
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ՆՎԻՐՈՒՄ ԵՆՔ ԳՐԱՆՑՄԱՆ ԵՎ ԱՌԱՋԻՆ ԳՆՈՒՄՆԵՐԻ ՀԱՄԱՐ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //az
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	QEYDİYYATA VƏ İLK ALIŞA GÖRƏ HƏDİYYƏ EDİRİK
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //bg
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ПОДАРЯВАМЕ ЗА РЕГИСТРАЦИЯ И ПЪРВА ПОКУПКА
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //cs
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	DARUJEME ZA REGISTRACI A PRVNÍ NÁKUP
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //da
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ER DER EN GAVE FOR REGISTRERING OG DET FØSRTE KØB
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //de
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	SCHENKEN <br>WIR FÜR REGISTRIERUNG UND ERSTEN EINKAUF
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //ee
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	KINGIME REGISTREERIMISE JA ESIMESE OSTU EEST
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //en
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	WE GIVE FOR REGISTRATION AND THE FIRST PURCHASE
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //es
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	UN REGALO POR EL REGISTRO Y TU PRIMERA COMPRA REALIZADA
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })


//- //fi
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`LAHJA REKISTERÖITY-MISESTÄ JA ENSIMMÄISESTÄ OSTOKSESTA`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //fr
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	NOUS OFFRONS POUR VOTRE INSCRIPTION ET PREMIER ACHAT
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //ge
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	საჩუქარი რეგისტრაციისა და პირველი შენაძენისთვის
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //gr
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ΔΙΝΟΥΜΕ ΔΩΡΟ ΓΙΑ ΤΗΝ ΕΓΓΡΑΦΗ ΚΑΙ ΤΗΝ ΠΡΩΤΗ ΑΓΟΡΑ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //hr
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ZA REGISTRACIJU I PRVU KUPNJU POKLANJAMO
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //hu
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	AJÁNDÉK A REGISZTRÁLÁSÉRT ÉS AZ ELSŐ RENDELÉSÉRT
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //it
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	DOPO LA REGISTRAZIONE E IL PRIMO ACQUISTO TI REGALIAMO
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //ky
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	КАТТАЛУУ ЖАНА БИРИНЧИ ТАПШЫРЫК ҮЧҮН БЕРЕБИЗ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //kz
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	Тіркелгеніңіз үшін және бірінші саудаңыз үшін
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //lt
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	DUODAME UŽ REGISTRACIJĄ IR PIRMĄ PIRKINĮ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //lv
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	DĀVINĀM PAR REĢISTRĀCIJU UN PIRMO PIRKUMU
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //mn
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	БҮРТГҮҮЛСНИЙ ТӨЛӨӨ БА АНХНЫ ХУДАЛДАН АВАЛТ ХИЙСНИЙ ТӨЛӨӨ БЭЛЭГЛЭНЭ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //nl
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	CADEAU BIJ REGISTRATIE EN UW EERSTE AANKOOP
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //pl
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ROZDAJEMY ZA REJESTRACJĘ I PIERWSZY ZAKUP
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //pt
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	OFERECEMOS PELO REGISTO E PRIMEIRA COMPRA
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //ro
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ÎȚI OFERIM UN CADOU PENTRU ÎNREGISTRARE ȘI PRIMA COMANDĂ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //sr
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	POKLANJAMO ZA REGISTRACIJU I PRVU KUPOVINU
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //sl
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ZA REGISTRACIJO IN PRVI NAKUP PODARIMO
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //sv
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	PRESENT FÖR REGISTRERING OCH FÖRSTA KÖP
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //sk
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	VÁM ZA REGISTRÁCIU A PRVÝ NÁKUP DARUJEME
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //tk
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	REGISTRASIÝA WE BIRINJI SÖWDA ÜÇIN SOWGAT BERÝÄRIS
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //tr
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	KAYIT <br />OLUP İLK SİPARİŞİNİZİ VERİN
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //ua
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	ДАРУЄМО ЗА РЕЄСТРАЦІЮ І ПЕРШУ ПОКУПКУ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //us
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	REGISTRATION<br />AND FIRST<br />PURCHASE <br />BONUS
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- //uz
//- +intro({
//- 	date:`
//- 	с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 	`,
//- 	title:`
//- 	RO'YXATGA OLISH VA BIRINCHI <br>XARID UCHUN HADYA&nbsp;QILAMIZ
//- 	`,
//- 	desc:`
//- 	Набор&nbsp;Nechaev Family&nbsp;Club
//- 	`,
//- })

//- section.section.section--intro
//- 	.intro
//- 		.intro__content-left
//- 			.intro__content-left-inner
//- 				p.intro__data с&nbsp;6&nbsp;по&nbsp;26&nbsp;декабря
//- 				h2.intro__title.corner дарим за#[br]регистрацию#[br]и первую#[br]покупку
//- 				//- h2.intro__title.corner REGISTRATION#[br]AND FIRST#[br]PURCHASE #[br]BONUS
//- 				.intro__text Набор&nbsp;Nechaev Family&nbsp;Club
//- 				.btnn-row
//- 					a(href="#scrollto-section--steps").btnn-primary.btnn-primary--intro.btnn-primary--white Как получить подарок
//- 						svg.btnn-primary__arrow(viewBox='0 0 31 10' fill='none' xmlns='http://www.w3.org/2000/svg')
//- 							path(d='M29.8582 5.47504C30.0925 5.24073 30.0925 4.86083 29.8582 4.62651L26.0398 0.808138C25.8055 0.573824 25.4256 0.573824 25.1913 0.808138C24.957 1.04245 24.957 1.42235 25.1913 1.65667L28.5854 5.05078L25.1913 8.44489C24.957 8.67921 24.957 9.05911 25.1913 9.29342C25.4256 9.52773 25.8055 9.52773 26.0398 9.29342L29.8582 5.47504ZM5.9998e-08 5.65078L29.434 5.65078L29.434 4.45078L-5.9998e-08 4.45078L5.9998e-08 5.65078Z' fill='white')
//- 				a(href="#scrollto-social-top").more-link.more-link--intro Поделиться&nbsp;&nbsp;>
		
//- 		.intro__content-right
		
//- 			.sticker.sticker--intro
//- 				span.sticker__red получите за #[big 1] ₽.
//- 				span.sticker__title Цена на&nbsp;сайте –
//- 				span.sticker__price 
//- 					span.sticker__price-num 907
//- 					span.sticker__valute ₽.			