include banner-temp

section.section.section--banner
    .banner
        .banner__left
            +banner({
                title:`
                Стартовая программа для&nbsp;новичков <span class="defis">–</span>
                `,
                desc:`
                полгода выгоды!
                `
            })
            //- .banner__title Стартовая программа для&nbsp;новичков #[span.defis –]
            //- .banner__subtitle.corner.corner--banner полгода выгоды!
        .banner__right
            .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //am
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Մեկնարկային ծրագիր նորեկների համար
//-                 `,
//-                 desc:`
//-                 շահավետության կես տարի
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //az
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Yeni başlayanlar üçün Start proqramı <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 yarım il sərfə!
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //bg
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Стартова програма за нови консултанти <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 половин година ползи!
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //cs
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Startovací program pro nováčky <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 půl roku výhod!
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //da
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Startprogram for nybegyndere <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 6 måneder med fordele!
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //de
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Startprogramm für Neukunden <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 Vorteile für ein halbes Jahr!
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //ee
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Stardiprogramm uustulnukatele <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 pool aastat soodustusi!
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //en
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Starting Program <br class="only-sm-visible" />for Newcomers <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 six months of savings!
//-                 `
//-             })
            
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!
        
//- //es
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Programa de inicio para los consultores nuevos <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 ¡beneficios durante el medio año!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //fi
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Starttiohjelma Aloittelijoille <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 puoli vuotta etuja!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //fr
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 PROGRAMME DE DEMARRAGE POUR LES DEBUTANTS <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 SIX MOIS D'AVANTAGES!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //ge
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 სასტარტო პროგრამა ახალბედებისთვის <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 მომგებიანი ნახევარი წელი!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //gr
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Πρόγραμμα Έναρξης για νέα μέλη <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 έξι μήνες με κέρδος!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //hr
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Start program za nove savjetnike <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 pola godine pogodnosti!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //hu
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Startprogram újoncoknak <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 fél év kedvezmény!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!


//- //it
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Con lo Starting Program per Principianti avrai
//-                 `,
//-                 desc:`
//-                 sei mesi di convenienza!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //ky
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Жаңы консультанттарга арналган Старт программасы <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 жарым жыл пайда!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //kz
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Жаңа тіркелушілерге арналған Бастапқы бағдарлама <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 жарым жыл пайда!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //lt
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Startinė programa naujokams <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 pusmetis naudos!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //lv
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Starta programma Jaunajiem Konsultantiem <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 ieguvums pusgada garumā!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //nl
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Startprogramma voor beginners <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 een half jaar aan voordelen!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //pl
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Program startowy dla nowych konsultantów <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 pół roku korzyści!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //pt
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Programa de lançamento para novaros <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 meio ano de vantagens!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //ro
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Programul start pentru începători <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 6 luni de avantaje!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //sr
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Početnčki program za novajlije <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 pola godine povoljnosti!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //sl
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Začetni program za novince <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 pol leta ugodnosti!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //sv
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Startprogrammet för nya kunder <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 ett halvt år med förmånliga erbjudanden!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //tk
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Täze başlanlar üçin başlangyç programma <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 alty aýlyk ýeňillikler!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //tr
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Yeni Kayıtlar İçin Başlangıç Programı<span class="defis">:</span>
//-                 `,
//-                 desc:`
//-                 6 Ay Süren Fırsat!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //ua
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Стартова програма для новачків <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 півроку вигоди!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //uz
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 YAYGI BOSHLANUVCHILAR UCHUN START DASTIRI <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 YARIM YILLIK FOYDA!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //sk
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 Štartovací program pre nováčikov <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 polrok výhod!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!

//- //us
//- section.section.section--banner
//-     .banner
//-         .banner__left
//-             +banner({
//-                 title:`
//-                 THE STARTING PROGRAM FOR NEW MEMBERS <span class="defis">–</span>
//-                 `,
//-                 desc:`
//-                 A BARGAIN EVERY PERIOD!
//-                 `
//-             })
//-         .banner__right
//-             .banner__descr Участвуйте в&nbsp;Стартовой программе новичка&nbsp;#[br]и&nbsp;получайте самые щедрые предложения на бестселлеры Faberlic #[b в&nbsp;течение&nbsp;9&nbsp;каталожных периодов.] Знакомьтесь с продукцией из разных категорий по&nbsp;самым выгодным ценам!