.section--products
    padding (50/16em) (20/16em) (50/16em)

    +md-block()
        padding-top (100/16em)
        padding-bottom (50/16em)

    +lg-block()
        padding (100/16em) (160/16em) 0

.products

    margin-bottom (50/16em)

    +md-block()
        display flex
        flex-wrap wrap
        justify-content space-between
        margin-bottom (30/16em)

    &__item
        margin-bottom (30/16em)

        +md-block()
            width (234/16em)

        +lg-block()
            width (500/16em)

        &-link
            position relative
            overflow hidden
            display block
            margin-bottom (19/16em)

    &__sticker
        color $white
        font-weight 700
        font-size (10/16em)
        background-color #EE3124
        position absolute
        line-height 2.4em
        width 30em
        text-align center
        right -30%
        bottom 12%
        text-transform uppercase
        transform rotate(-30deg)
        z-index 2

        +md-block()
            font-size 1em
            line-height (40/16em)
            right -19%
            bottom 10%
        
        +lg-block()
            font-size (20/16em)
            line-height (50/20em)
            right -17%
            bottom 11%


    &__img

        width 100%
        max-width 100%
        transition all 0.3s

        &:hover       
            transform scale(1.2)                 
            transition all 1s
    
    &__art
        font-size (12/16em)
        line-height 1.5
        color $primary-black
        margin-bottom (11/12em)
    
    &__title
        font-size (16/16em)
        color $primary-black
        font-weight 600
        line-height (22/16em)

        +md-block()
            font-size (18/16em)
        
    &__link
        text-decoration none
        outline none

        &:hover
            text-decoration none

    &__picture

        &--sm
            display block

            +md-block()
                display none
        
        &--md
            display none

            +md-block()
                display block

            +lg-block()
                display none

        &--lg

            display none

            +lg-block()
                display block
    &__note
        font-size em(10)
        margin-bottom (50/10em)
        text-align center

        +md-block()
            font-size em(12)
            margin-bottom (50/12em)
        
        +lg-block()
            font-size em(14)
            margin-bottom (50/14em)
            width (860/14em)
            margin-left auto
            margin-right auto

.btnn-primary--products

    padding-left (30/12em)
    padding-right (30/12em)

    +md-block()
        padding-top 0.5em
        padding-bottom 0.5em
    
    +lg-block()
        margin-bottom 0

.products__title--short
    
    +md-block()
        padding-right (20/16em)
    
    +lg-block()
        padding-right 0

// 1 prod default 3 prod
.products--1
    .products__item

        +md-block()
            width auto
        
        +lg-block()
            width (1000/16em)
            margin-left auto
            margin-right auto

// 2 prod default 3 prod
.products--2

    +lg-block()
        width (1050/16em)
        margin-left auto
        margin-right auto

    .products__item

        +md-block()
            width (354/16em)
        
        +lg-block()
            width (500/16em)

// 4 prod default 3 prod
.products--4
    .products__item

        +md-block()
            width (170/16em)
        
        +lg-block()
            width 23em