section.section.section--products
    .products        
        .products__item
            a.products__item-link(href="https://new.faberlic.com/ru/p/010501-026663" target="_blank")
                //- span.products__sticker новинка  16 каталога
                picture.products__picture.products__picture--sm.picture--sm
                    source(type="image/webp", data-srcset="./img/content/products/products-1-sm.webp")
                    source(type="image/jpg", data-srcset="./img/content/products/products-1-sm.jpg")
                    img(data-src="./img/content/products/products-1-sm.jpg", alt="Парфюмерная вода 15 мл").products__img
                picture.products__picture.products__picture--md.picture--md
                    source(type="image/webp", data-srcset="./img/content/products/products-1-md.webp")
                    source(type="image/jpg", data-srcset="./img/content/products/products-1-md.jpg")
                    img(data-src="./img/content/products/products-1-md.jpg", alt="Парфюмерная вода 15 мл").products__img
                picture.products__picture.products__picture--lg.picture--lg
                    source(type="image/webp", data-srcset="./img/content/products/products-1-lg.webp")
                    source(type="image/jpg", data-srcset="./img/content/products/products-1-lg.jpg")
                    img(data-src="./img/content/products/products-1-lg.jpg", alt="Парфюмерная вода 15 мл").products__img
            .products__art Арт. 3322
            //- .products__title.products__title--short
            .products__title
                a.products__link(href="https://new.faberlic.com/ru/p/010501-026663" target="_blank") Парфюмерная вода 15 мл
        
        .products__item
            a.products__item-link(href="https://new.faberlic.com/ru/p/010206-004240" target="_blank")
                //- span.products__sticker новинка  16 каталога
                picture.products__picture.products__picture--sm.picture--sm
                    source(type="image/webp", data-srcset="./img/content/products/products-2-sm.webp")
                    source(type="image/jpg", data-srcset="./img/content/products/products-2-sm.jpg")
                    img(data-src="./img/content/products/products-2-sm.jpg", alt="Парфюмированная рассыпчатая пудра-шиммер").products__img
                picture.products__picture.products__picture--md.picture--md
                    source(type="image/webp", data-srcset="./img/content/products/products-2-md.webp")
                    source(type="image/jpg", data-srcset="./img/content/products/products-2-md.jpg")
                    img(data-src="./img/content/products/products-2-md.jpg", alt="Парфюмированная рассыпчатая пудра-шиммер").products__img
                picture.products__picture.products__picture--lg.picture--lg
                    source(type="image/webp", data-srcset="./img/content/products/products-2-lg.webp")
                    source(type="image/jpg", data-srcset="./img/content/products/products-2-lg.jpg")
                    img(data-src="./img/content/products/products-2-lg.jpg", alt="Парфюмированная рассыпчатая пудра-шиммер").products__img
            .products__art Арт. 3804
            //- .products__title.products__title--short
            .products__title
                a.products__link(href="https://new.faberlic.com/ru/p/010206-004240" target="_blank") Парфюмированная рассыпчатая пудра-шиммер

        //- .products__item
        //-     a.products__item-link(href="https://new.faberlic.com/ru/p/011002-00423" target="_blank")
        //-         //- span.products__sticker новинка  16 каталога
        //-         picture.products__picture.products__picture--sm.picture--sm
        //-             source(type="image/webp", data-srcset="./img/content/products/products-3-sm.webp")
        //-             source(type="image/jpg", data-srcset="./img/content/products/products-3-sm.jpg")
        //-             img(data-src="./img/content/products/products-3-sm.jpg", alt="Влажные салфетки для удаления пятен").products__img
        //-         picture.products__picture.products__picture--md.picture--md
        //-             source(type="image/webp", data-srcset="./img/content/products/products-3-md.webp")
        //-             source(type="image/jpg", data-srcset="./img/content/products/products-3-md.jpg")
        //-             img(data-src="./img/content/products/products-3-md.jpg", alt="Влажные салфетки для удаления пятен").products__img
        //-         picture.products__picture.products__picture--lg.picture--lg
        //-             source(type="image/webp", data-srcset="./img/content/products/products-3-lg.webp")
        //-             source(type="image/jpg", data-srcset="./img/content/products/products-3-lg.jpg")
        //-             img(data-src="./img/content/products/products-3-lg.jpg", alt="Влажные салфетки для удаления пятен").products__img
        //-     .products__art Арт. 30552
        //-     //- .products__title.products__title--short
        //-     .products__title
        //-         a.products__link(href="https://new.faberlic.com/ru/p/011002-00423" target="_blank") Влажные салфетки для&nbsp;удаления&nbsp;пятен

    //- Если это подарок без возможности выбора
    .products__note Подарок за&nbsp;регистрацию и&nbsp;первую покупку в&nbsp;заказ добавляется автоматически. Для этого вам необходимо наполнить корзину до&nbsp;нужной пороговой суммы, которая указана в&nbsp;правилах&nbsp;акции.

    //- Если в подарке есть выбор (оттенок, размер и т.д.)
    //- .products__note Подарок за&nbsp;регистрацию и&nbsp;первую покупку будет доступен при оформлении заказа в&nbsp;разделе &laquo;Персональные акции&nbsp;&mdash; Стартовая программа&raquo;. Наполните корзину до&nbsp;нужной пороговой суммы, которая указана в&nbsp;правилах акции, и&nbsp;выберите подарок.


    .btnn-row
        a(href="https://new.faberlic.com/register" target="_blank").btnn-primary.btnn-primary--products Забрать подарок
            svg.btnn-primary__arrow(viewBox='0 0 31 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M29.8582 5.47504C30.0925 5.24073 30.0925 4.86083 29.8582 4.62651L26.0398 0.808138C25.8055 0.573824 25.4256 0.573824 25.1913 0.808138C24.957 1.04245 24.957 1.42235 25.1913 1.65667L28.5854 5.05078L25.1913 8.44489C24.957 8.67921 24.957 9.05911 25.1913 9.29342C25.4256 9.52773 25.8055 9.52773 26.0398 9.29342L29.8582 5.47504ZM5.9998e-08 5.65078L29.434 5.65078L29.434 4.45078L-5.9998e-08 4.45078L5.9998e-08 5.65078Z' fill='white')