include facts2-temp
+facts({
	title:`
	Регистрация в&nbsp;Faberlic&nbsp;&mdash;
	`,
	desc:`
	новые возмож<br class="only-sm-visible">ности
	`,
	btn:`Зарегистрироваться`,
	block_1_title:`скидки`,
	block_1_desc:`на&nbsp;все&nbsp;покупки`,

	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
	block_2_desc:`+ участие в закрытых акциях и распродажах`,

	block_3_title:` удобные&nbsp;<br>покупки`,
	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
})

//- <!-- am -->
//- +facts({
//- 	title:`
//- 	Գրանցումը Faberlic–ում նոր
//- 	`,
//- 	desc:`
//- 	<span style="font-size: 67%;">հնարավորություններ է ենթադրում</span>
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- az -->
//- +facts({
//- 	title:`
//- 	Faberlic'də qeydiyyat –
//- 	`,
//- 	desc:`
//- 	yeni imkanlar
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })


//- <!-- bg -->
//- +facts({
//- 	title:`
//- 	Регистрация в Faberlic –
//- 	`,
//- 	desc:`
//- 	новые возможности
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- cs -->
//- +facts({
//- 	title:`
//- 	Registrace ve Faberlic –
//- 	`,
//- 	desc:`
//- 	nové možnosti
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })


//- <!-- da -->
//- +facts({
//- 	title:`
//- 	Registrering i Faberlic –
//- 	`,
//- 	desc:`
//- 	nye muligheder
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })


//- <!-- de -->
//- +facts({
//- 	title:`
//- 	Registrierung bei Faberlic –
//- 	`,
//- 	desc:`
//- 	neue Möglichkeiten
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })




//- <!-- ee -->
//- +facts({
//- 	title:`
//- 	Registreerimine Faberlicis –
//- 	`,
//- 	desc:`
//- 	uued võimalused
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- en -->
//- +facts({
//- 	title:`
//- 	Registering with Faberlic
//- 	`,
//- 	desc:`
//- 	means new possibilities
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- es -->
//- +facts({
//- 	title:`
//- 	Registro en Faberlic -
//- 	`,
//- 	desc:`
//- 	nuevas oportunidades
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- fi -->
//- +facts({
//- 	title:`
//- 	Rekisteröityminen Faberliciin -
//- 	`,
//- 	desc:`
//- 	<span style="font-size: 90%;">paljon uusia mahdollisuuksia</span>
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- fr -->
//- +facts({
//- 	title:`
//- 	INSCRIPTION A FABERLIC -
//- 	`,
//- 	desc:`
//- 	NOUVELLES OPPORTUNITES
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- ge -->
//- +facts({
//- 	title:`
//- 	რეგისტრაცია –
//- 	`,
//- 	desc:`
//- 	ახალი შესაძლებლობები
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- gr -->
//- +facts({
//- 	title:`
//- 	Η εγγραφή στη Faberlic παρέχει
//- 	`,
//- 	desc:`
//- 	νέες δυνατότητες
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- hr -->
//- +facts({
//- 	title:`
//- 	Registracija u Faberlic –
//- 	`,
//- 	desc:`
//- 	nove mogućnosti
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- hu -->
//- +facts({
//- 	title:`
//- 	Regisztráció a Faberlic-nél –
//- 	`,
//- 	desc:`
//- 	új lehetőségek
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- it -->
//- +facts({
//- 	title:`
//- 	Registrati in Faberlic
//- 	`,
//- 	desc:`
//- 	e ottieni nuove opportunità
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- ky -->
//- +facts({
//- 	title:`
//- 	Faberlic-ке катталуу –
//- 	`,
//- 	desc:`
//- 	<span style="font-size: 80%; line-height:80%;">жаңы мүмкүнчүлүктөр</span>
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- kz -->
//- +facts({
//- 	title:`
//- 	Faberlic-ке тіркелу –
//- 	`,
//- 	desc:`
//- 	<span style="font-size: 80%;">жаңа мүмкіндіктерге қол жеткізу</span>
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- lt -->
//- +facts({
//- 	title:`
//- 	Registracija „Faberlic“ –
//- 	`,
//- 	desc:`
//- 	naujos galimybės
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- lv -->
//- +facts({
//- 	title:`
//- 	Reģistrēšanās Faberlic kompānijā
//- 	`,
//- 	desc:`
//- 	paver jaunas iespējas
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- nl -->
//- +facts({
//- 	title:`
//- 	Registratie bij Faberlic -
//- 	`,
//- 	desc:`
//- 	nieuwe mogelijkheden
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- pl -->
//- +facts({
//- 	title:`
//- 	Rejestracja w Faberlic –
//- 	`,
//- 	desc:`
//- 	nowe możliwości
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- pt -->
//- +facts({
//- 	title:`
//- 	Registo na Faberlic –
//- 	`,
//- 	desc:`
//- 	novas oportunidades
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- ro -->
//- +facts({
//- 	title:`
//- 	Înregistrarea pe site–ul Faberlic -
//- 	`,
//- 	desc:`
//- 	noi posibilități
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- sr -->
//- +facts({
//- 	title:`
//- 	Otvaranje naloga u Faberlic –
//- 	`,
//- 	desc:`
//- 	nove mogućnosti
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- sl -->
//- +facts({
//- 	title:`
//- 	Registracija pri Faberlicu prinaša
//- 	`,
//- 	desc:`
//- 	nove priložnosti!
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- sv -->
//- +facts({
//- 	title:`
//- 	Registrering i Faberlic
//- 	`,
//- 	desc:`
//- 	nya möjligheter
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- tk -->
//- +facts({
//- 	title:`
//- 	Faberlikde registrasiýa –
//- 	`,
//- 	desc:`
//- 	täze mümkinçilikler
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })


//- <!-- tк -->
//- +facts({
//- 	title:`
//- 	Faberlic’e kayıt olmak demek
//- 	`,
//- 	desc:`
//- 	<span style="font-size: 80%;line-height: 80%;">yeni imkanların kapısını aralamak demek</span>
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- ua -->
//- +facts({
//- 	title:`
//- 	Реєстрація в Faberlic -
//- 	`,
//- 	desc:`
//- 	нові можливості
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- uz -->
//- +facts({
//- 	title:`
//- 	Faberlic-da ro'yxatdan o'tish –
//- 	`,
//- 	desc:`
//- 	yangi imkoniyatlar
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })

//- <!-- sk -->
//- +facts({
//- 	title:`
//- 	Registrácia vo Faberlic –
//- 	`,
//- 	desc:`
//- 	nové <br />možnosti
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })


//- <!-- us -->
//- +facts({
//- 	title:`
//- 	Registration with Faberlic means
//- 	`,
//- 	desc:`
//- 	new opportunities
//- 	`,
//- 	btn:`Зарегистрироваться`,
//- 	block_1_title:`скидки`,
//- 	block_1_desc:`на&nbsp;все&nbsp;покупки`,

//- 	block_2_title:`бонусы&nbsp;<br> и&nbsp;подарки`,
//- 	block_2_desc:`+ участие в закрытых акциях и распродажах`,

//- 	block_3_title:` удобные&nbsp;<br>покупки`,
//- 	block_3_desc:`Оформите на&nbsp;сайте заказ и&nbsp;заберите его в&nbsp;одном из&nbsp;8&nbsp;500 пунктов выдачи`,
	
//- })


