.stats-list.js-stats-list
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/artur')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2019-05-18_05-02-22.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name Soultake
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Тайны "Малики"
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/uka')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2020-01-08_09-25-03.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name rED
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Как поджечь воду
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/w3rzil')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2020-10-27_14-16-06.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name W3rZIL
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Что под капотом
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/happyend')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2020-10-28_14-23-03.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name HappyEnd
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Заморить червячка
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/theend')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2020-10-28_13-36-37.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name TheEnd
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 To be continued
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/teacher')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2020-03-07_14-40-04.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name Teacher
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Развернуть сигару
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/axel')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2020-06-06_20-04-52.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name Axel
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Диванная аналитика
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/ra1ko')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-yes(style='background-image: url(../img/content/list/photo_2018-01-18_19-35-37.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name Ra1kO
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Врачебная тайна
    .stats-list-item.js-stats-list-item(data-link='/dota-2/post/extreme')
        .stats-list-image
            .stats-list-image-inner.stats-list-image-inner-no(style='background-image: url(../img/content/list/no_image.jpg)')
                .stats-list-image-inner2
                    .stats-list-image-inner2-name Extreme
                .stats-list-image-inner3
                    .stats-list-image-inner2-name2 Подробнее
#jquery_jplayer
