// @import "intro/intro"
// @import "steps/steps"
// @import "banner/banner"
// @import "video/video"
// @import "share/share"    
// @import "products/products"
// @import "timer2/timer2"
// @import "facts2/facts2"
@import "list/list"
@import "snow/snow"

body
    background url(../img/content/list/bg1.jpg) center top no-repeat fixed #000
    -webkit-background-size cover
    background-size cover
    position relative
    font-family 'rr'
    font-size 18px
    color #dadada
    overflow-y scroll