section.section.section--steps#scrollto-section--steps
	.steps
		.step
			.step__descr
				h4.step__title 1. cформируйте
				p первый заказ от #[b 2 500 р.*]
		.step
			.step__descr
				h4.step__title 2. Зарегистрируйтесь
				p на&nbsp;#[a(href="https://new.faberlic.com/register" target="_blank") faberlic.com] и&nbsp;#[b получите скидку 20%, а&nbsp;также 1&nbsp;000&nbsp;р.]&nbsp;на&nbsp;личный счёт
		.step
			.step__descr
				h4.step__title 3. оплатите всего 1&nbsp;000#[span.step__title-s1 р].
				p вместо 2&nbsp;500&nbsp;р.* #[b Скидка&nbsp;20% и&nbsp;ваш подарок 1&nbsp;000&nbsp;р.] применятся автоматически
	
	.corner.corner--step2
		.step2__title бонус!
		.step2__desc При заказе от&nbsp;3&nbsp;000&nbsp;р.* #[b получите в&nbsp;подарок] хит продаж&nbsp;&mdash; концентрированный стиральный порошок (арт. 30020) за&nbsp;1&nbsp;р. вместе с заказом от 1&nbsp;000&nbsp;р.&nbsp;с&nbsp;#[b 11&nbsp;по&nbsp;31 октября]
	
	.step2__note * Цены указаны без применения скидки&nbsp;20%, которая активизируется после регистрации на&nbsp;#[a(href="https://new.faberlic.com/register" target="_blank") faberlic.com]

	.btnn-row
		a(href="https://new.faberlic.com/register" target="_blank").steps__btnn.btnn-primary Зарегистрироваться
			svg.btnn-primary__arrow(viewBox='0 0 31 10' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M29.8582 5.47504C30.0925 5.24073 30.0925 4.86083 29.8582 4.62651L26.0398 0.808138C25.8055 0.573824 25.4256 0.573824 25.1913 0.808138C24.957 1.04245 24.957 1.42235 25.1913 1.65667L28.5854 5.05078L25.1913 8.44489C24.957 8.67921 24.957 9.05911 25.1913 9.29342C25.4256 9.52773 25.8055 9.52773 26.0398 9.29342L29.8582 5.47504ZM5.9998e-08 5.65078L29.434 5.65078L29.434 4.45078L-5.9998e-08 4.45078L5.9998e-08 5.65078Z' fill='white')
		a(href="https://static.faberlic.com/start_11_21/files/Welcome-11-2021-rules.pdf" target="_blank").more-link Правила акции&nbsp;&nbsp;>