.section--steps
    padding (52/16em) (20/16em) (28/16em)

    +md-block()
        padding-top (102/16em)
        padding-bottom (50/16em)

    +lg-block()
        padding (100/16em) (177/16em) (60/16em)
        width auto

    .more-link
        margin-bottom 1em
        color #15161A

        +md-block()
            margin-bottom (18/16em)

        +lg-block()
            margin-bottom 1em
            margin-bottom (24/16em)

.steps
    margin-bottom (32/16em)
    color $steps-text-color

    +md-block()
        width 23em
        margin-left auto
        margin-right auto

    +lg-block()
        display flex
        justify-content space-between        
        margin-bottom (42/16em)
        width auto
    
    &__btnn
        margin-bottom (30/12em)

        +md-block()
            margin-bottom (28/18em)
            min-width (306/18em)
    
    &__note
        font-size (10/16em)
        text-align center

        a
            text-decoration underline
        
            &:hover
                text-decoration none

        +md-block()
            font-size (12/16em)
            max-width (334/12em)
            margin-left auto
            margin-right auto
        
        +lg-block()
            font-size (14/16em)
            max-width (980/14em)
    
.step

    margin-bottom (30/16em)    

    +md-block()
        margin-bottom (50/16em)
    
    +lg-block()
        width (470/16em)
        margin-bottom 0
    
    &__title
        text-transform uppercase
        margin-bottom (17/20em)
        color $primary-title-color
        font-size (20/14em)
        font-weight 900
        line-height (22/20em)

        &-s1
            font-size (16/20em)

            +md-block()
                font-size (24/24em)

            +lg-block()
                font-size (24/30em)
        
        +md-block()
            font-size (24/16em)
            margin-bottom (18/24em)
        
        +lg-block()
            font-size (30/22em)
            margin-bottom (20/30em)
    
    &__descr
        font-size (14/16em)
        line-height 1.8
        margin-bottom 0

        p
            line-height (21/14em)
        
        a
            text-decoration underline

        +md-block()
            font-size 1em

        +lg-block()
            font-size em(22)

.step2

    &__title
        color #EE3124
        font-size (30/32em)
        text-align center
        margin-bottom (20/30em)

        +md-block()
            font-size (40/48em)
            margin-bottom (32/40em)
        
        +lg-block()
            font-size (56/70em)
            margin-bottom (30/56em)

    &__desc
        line-height 1.5
        font-size (14/32em)
        font-weight 400
        text-transform none

        +md-block()
            font-size (16/48em)
        
        +lg-block()
            font-size (22/70em)
        
    &__note
        font-size (10/16em)
        text-align center
        margin-bottom 3em

        a
            text-decoration underline

            &:hover
                text-decoration none

        +md-block()
            font-size (12/16em)
        
        +lg-block()
            font-size (14/16em)

.corner--step2

    padding-left (26/32em)
    padding-right (26/32em)
    margin-bottom (50/32em)

    +md-block()
        max-width (434/48em)
        margin-left auto
        margin-right auto
        margin-bottom (90/48em)

    +lg-block()
        max-width (1125/70em)
        margin-bottom (80/70em)

    &:before
    &:after
        border-color #EE3124

    &:before
        top (26/16em)

        +md-block()
            top 3em
        
        +lg-block()
            top 3em
            right -2em
        
    &:after
        +md-block()
            bottom -3em