.section
    &--share
        padding (33/16em) 0 (35/16em)
        margin 0
        background-color $share-bg-color

        +md-block()
            padding-top (37/16em)
            padding-bottom (40/16em)
            
        +lg-block()
            padding-top (35/16em)
            padding-bottom (40/16em)
            
    &--share-bottom
        padding (33/16em) 0 (35/16em)
        background none
        
        .share__title
            color $primary-black
            
        .share__info
            color $primary-black
        
        +md-block()
            padding-top (37/16em)
            padding-bottom (40/16em)
            
        +lg-block()
            padding-top (35/16em)
            padding-bottom (40/16em)
        
        .social-list__link svg
            fill $primary-black
        
        .social-list__link
            border-color $primary-black
        
        .social-list__link:hover
        .social-list__link:focus
            background $primary-black

        .social-list__link svg
        .social-list__link svg
            fill $primary-black
            
        .social-list__link:hover svg
        .social-list__link:focus svg
            fill $white

.share
    text-align center

    &__title
        font-size em(14)
        line-height 1.5
        color $primary-color
        color $primary-color2
        margin-bottom (8/14em)
        font-weight 700    
        
        +md-block()
            font-size 1em
            padding 0 2em
            margin-bottom (7/16em)
        
        +lg-block()
            font-size (30/16em)
            padding 0
            margin-left auto
            margin-right auto
            margin-bottom (14/30em)            

    &__info
        font-size (12/16em)
        line-height 1.5
        margin-bottom 0.875em
        color $primary-color
        color $primary-color2
        padding-left 2em
        padding-right 2em

        p
            margin-bottom (10/12em)

        +md-block()
            font-size (12/16em)            
        
        +lg-block()
            font-size (24/16em)            

.social-list
    display flex
    justify-content center
    padding 0
    list-style-type none
    margin-bottom 0

    &__item
        margin 0 0.426875em

        &:first-child
            margin-left 0
        
        &:last-child
            margin-right 0
        
        +md-block() 
            margin 0 (6.5/16em)

        +lg-block() 
            margin 0 (13/16em)

    &__link
        display inline-block
        padding 0 0.23em
        border 1px solid $primary-color
        border 1px solid $primary-color2
        border-radius 100%  
        height 2.1875em
        width 2.1875em
        margin-right 0.8em
        outline: none
        box-shadow none
        display inline-flex
        align-items center
        justify-content center
        vertical-align middle
        transition all  linear .15s
        
        +md-block() 
            height (35/16em)
            width (35/16em)
            border-width 1px

            svg
                max-width (15/16em)
                max-height (15/16em)
        
        +lg-block()
            height (70/16em)
            width (70/16em)
            margin-right 2.125em
        
            svg
                max-width 2.25em
                max-height 2.25em

        svg
            fill $primary-color
            max-width 1em
            max-height 1em
        
            +lg-block() 
                max-width (28/16em)
                max-height (28/16em)
                width (28/16em)
                height (28/16em)

        &:last-child
            margin 0

        &:hover
        &:focus
            background $primary-color2
            
            svg
                fill #fff